$darkBlue: #001a27;
$blue: #1e3264;
$blueLight: #4f67ae;
$red: #e31e24;
$gold: black;
$gray: #999999;
$grayLight: #f9f9f9;
$grayborder: #f2f2f2;
$green: #39b54a;
$violet: #332B68;
$base-vw: 1180px;
$borderGray:#b9b9b9;
$tdgreenLight:#dee7d5;
$tdgreen:#597a35;
$tdgreenHover:#abd87b;
$brown:#8f7f36;
$tdgray:#5e6163;
$tdBlue:#1c7e98;